{% extends "base.twig" %}

{% block title %}Coral Login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section id="backoffice">
        <a href="/backend/logout">logout</a>
    </section>
{% endblock %}