{% extends "base.twig" %}

{% block title %}Coral Login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section id="login" class="container">
        <form class="form-signin" method="post" action="/backend/login">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Back office</h1>
            </div>

            <div class="form-label-group">
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" value="priska@lalaland.fr">
                <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="" value="keke">
                <label for="inputPassword">Password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
        </form>
    </section>
{% endblock %}