{% extends "backOffice.twig" %}

{% block pageBackOffice %}
    <h2>Add an User :</h2>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Firstname</label>
            <input type="firstname" class="form-control" aria-describedby="firstnameHelp" placeholder="Enter FirstName">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Lastname</label>
            <input type="firstname" class="form-control" aria-describedby="lastnameHelp" placeholder="Enter LastName">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="email" class="form-control" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Ajouter
        </button>
    </form>

{% endblock %}